<div class="container">
    <h1 class="text-center">Welcome to <span>GoPlay</span></h1>
    <form name="form" class="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <h3 class="form-signin-heading">Please sign in</h3>
        <label for="username" class="sr-only">Name</label>
        <input type="text" id="username" class="form-control" placeholder="Name" name="username" [(ngModel)]="model.username" #username="ngModel" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <p style="margin-top:30px" class="text-center"><a routerLink="/register">Register new user</a></p>
</div>